---
layout: default.hbs
subject: Index email template
---
<span class="preheader">This is preheader text. Some clients will show this text as a preview.</span>
<div class="header">
  <table>
    <tr>
      <td class="align-center">
        <p>Template header</p>
      </td>
    </tr>
  </table>
</div>

<table class="main">
  <tr>
    <td class="wrapper">
      <table>
        <tr>
          <td>
            <p>Index email template</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>Follow <a href="http://twitter.com/piotrkulpinski">@piotrkulpinski</a> on Twitter.</p>
      </td>
    </tr>
  </table>
</div>
